<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dafut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" 
          [routerLink]="['home']"
          [routerLinkActive]="['active']">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          [routerLink]="['teams']"
          [routerLinkActive]="['active']" >Equipos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
          [routerLink]="['ranking']"
          [routerLinkActive]="['active']" >Ranking</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
          [routerLink]="['players']"
          [routerLinkActive]="['active']" >Top Jugadores</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" 
          [routerLink]="['login']"
          [routerLinkActive]="['active']" >Login</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link"
          [routerLink]="['login']"
          [routerLinkActive]="['active']"
           (click)="logout();">Logout</a>
        </li>
 
       
      </ul>
    </div>
  </nav>
